name: goreleaser

on:
  push:
    tags:
      - "v*"
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          check-latest: false
      - name: Build binaries
        run: |
          # Build for Linux
          GOOS=linux GOARCH=amd64 go build -o terraform-provider-unifi-linux-amd64 .
          GOOS=linux GOARCH=arm64 go build -o terraform-provider-unifi-linux-arm64 .
          
          # Build for macOS
          GOOS=darwin GOARCH=amd64 go build -o terraform-provider-unifi-darwin-amd64 .
          GOOS=darwin GOARCH=arm64 go build -o terraform-provider-unifi-darwin-arm64 .
          
          # Build for Windows
          GOOS=windows GOARCH=amd64 go build -o terraform-provider-unifi-windows-amd64.exe .
          GOOS=windows GOARCH=arm64 go build -o terraform-provider-unifi-windows-arm64.exe .
      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: |
            terraform-provider-unifi-*
