name: goreleaser

on:
  push:
    tags:
      - "v*"
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          check-latest: false
      - name: Verify Go build
        run: go build -o terraform-provider-unifi .
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --parallelism 2 --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload binaries to release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/terraform-provider-unifi*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
